body{
    background-color: blanchedalmond;
    text-align: center;
    font-display: auto;
}
.section{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}